.dimming-profiles-container {
    display: flex;
    gap: 2rem;
  }
  
  .profiles-sidebar {
    flex: 1;
    background: #f7f7f7;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-details {
    flex: 2;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .clock-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .p-datatable {
    width: 100%;
    margin-top: 1rem;
  }
  